.ui-timepicker-div {	
	.ui-widget-header {
		margin-bottom: 8px;
	}
	dl {
		text-align: left;
		dt {
			float: left;
			clear: left;
			padding: 0;
		}
		dd {
			margin: 0 10px 10px 40%;
		}
	}
	td {
		font-size: 90%;
	}
}

.ui-tpicker-grid-label {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.ui-timepicker-div {
	.ui_tpicker_unit_hide {
		display: none;
	}
	.ui_tpicker_time .ui_tpicker_time_input {
		background: none;
		color: inherit;
		border: none;
		outline: none;
		border-bottom: solid 1px #555;
		width: 95%;
		&:focus {
			border-bottom-color: #aaa;
		}
	}
}

.ui-timepicker-rtl {
	direction: rtl;
	dl {
		text-align: right;
		padding: 0 5px 0 0;
		dt {
			float: right;
			clear: right;
		}
		dd {
			margin: 0 40% 10px 10px;
		}
	}
}

/* Shortened version style */

.ui-timepicker-div.ui-timepicker-oneLine {
	padding-right: 2px;
	.ui_tpicker_time, dt {
		display: none;
	}
	.ui_tpicker_time_label {
		display: block;
		padding-top:0;
	}
	dl {
		text-align:left;
		@include flexbox();
		@include flex-direction(row);
		@include flex-wrap(nowrap);
		@include justify-content(space-between);
		.ui-timepicker-select {
			position:relative;
			width:100%;
			@include appearance(none);
		}
		dd, dt {
			@include flex-basis(35%);
			@include flex-shrink(0);
			@include flex-grow(0);
			
		}
		dd {
			position:relative;
			display: inline-block;
			margin: 0;
			> div {
				position:relative;
				width: 50%;
				display: inline-block;
				margin: 0;
				&:after {
					content:'';
					position:absolute;
					right: 10%;
					background:url('../images/caret.png') center no-repeat;
					width: 11px;
					height: 100%;
					pointer-events: none;
					@include transform(rotate(90deg));

				}
			}
			&.ui_tpicker_minute:before, &.ui_tpicker_second:before {
				content: ':';
				display: inline-block;
				position:absolute;
				left:-25%;
			}
			&.ui_tpicker_millisec:before, &.ui_tpicker_microsec:before {
				content: '.';
				display: inline-block;
			}
		}
	}
	.ui_tpicker_unit_hide {
		display: none;
		&:before {
			display: none;
		}
	}
}

//NOTE: CUSTOM STYLES
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family:$Poppins;
}
.ui-widget.ui-widget-content {
	border:0;
	font-family:$Poppins;
}
.ui-widget-header {
	.ui-datepicker-prev,
	.ui-datepicker-next {
		top:0;
		bottom:0;
		margin:auto;
		width:7px;
		height:11px;
		cursor:pointer;
		&.ui-state-hover {
			border:0;
			background:none;
		}
	}
	.ui-datepicker-next {
		right:10px;
	}
	.ui-datepicker-prev {
		left:10px;
			@include transform(rotate(180deg));
		.ui-icon {
		}
	}
	.ui-icon {
		background-image: url("../images/caret.png");
		background-position:center;
	}
}
.ui-datepicker {
	width:18em;
	padding: .0em .6em 0;
	.ui-datepicker-header {
		margin-left:-.6em;
		margin-right:-.6em;
		border-radius:0;
		background:#27292d;
		color:#fff;
	}
	.ui-datepicker-week-end {
		&:first-child {
			border-left:0;
		}
		&:last-child {
			border-right:0;
		}
	}
	.ui-state-default {
		background:#fff;
		border:none;
		&.ui-state-highlight {
			color:#e2be73;
			&.ui-state-active {
				color:#fff;
			}
		}
		&.ui-state-active {
			background:#e2be73;
			
		}
	}
	table {
		margin:0 0 1em;
	}
	tr {
		&:first-child {
			td {
				border-top:0;
			}
		}
		&:last-child {
			td {
				border-bottom:0;
			}
		}
	}
	td {
		padding:0;
		border:1px solid #b6b6b6;
		span, a {
			padding:.6em;
			text-align:center;
			
		}

	}
}