@mixin box-sizing($sizing) {
	-webkit-box-sizing:$sizing;
	-moz-box-sizing:$sizing;
	box-sizing:$sizing;
}
@mixin border-radius($radius) {
	-webkit-border-radius:$radius;
	-moz-border-radius:$radius;
	-ms-border-radius:$radius;
	border-radius:$radius;
}
@mixin box-shadow($shadow...) {
	-webkit-box-shadow:$shadow;
	-moz-box-shadow:$shadow;
	-ms-box-shadow:$shadow;
	-o-box-shadow:$shadow;
	box-shadow:$shadow;
}
@mixin opacity($opacity) {
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity * 100})';
	filter:alpha(opacity=$opacity * 100);
	opacity:$opacity;
}
@mixin user-select {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
@mixin transform($values) {
	-webkit-transform:$values;
	-moz-transform:$values;
	-ms-transform:$values;
	-o-transform:$values;
	transform:$values;
}
@mixin transition($args...) {
	-webkit-transition:$args;
	-moz-transition:$args;
	-ms-transition:$args;
	-o-transition:$args;
	transition:$args;
}
@mixin animation($str,$prop:null) {
	@if $prop != null {
		-webkit-animation-#{$prop}:#{$str};
		-moz-animation-#{$prop}:#{$str};
		-ms-animation-#{$prop}:#{$str};
		-o-animation-#{$prop}:#{$str};
		animation-#{$prop}:#{$str};
	} @else {
		-webkit-animation:#{$str};
		-moz-animation:#{$str};
		-ms-animation:#{$str};
		-o-animation:#{$str};
		animation:#{$str};
	}
}
@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}
@mixin retina {
	@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min--moz-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:3/2), only screen and (min-device-pixel-ratio:1.5), only screen and (min-resolution:192dpi) {
		@content;
	}
}
@mixin font-face($font-name, $file-name, $weight:normal, $style:normal) {
	@font-face {
		font-family:$font-name;
		src:url($file-name + '.eot');
		src:url($file-name + '.eot?#iefix') format('embedded-opentype'),
			url($file-name + '.woff') format('woff'),
			url($file-name + '.ttf') format('truetype');
		font-weight:$weight;
		font-style:$style;
	}
}
@mixin placeholder {
	$placeholders:':-webkit-input' ':-moz' '-moz';
	@each $placeholder in $placeholders {
		@if & != null {
			&:#{$placeholder}-placeholder {
				@content;
			}
		} @else {
			:#{$placeholder}-placeholder {
				@content;
			}
		}
	}
}
@mixin ellipsis {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
@mixin clearfix {
	&:after {
		content:'';
		clear:both;
		display:table;
	}
}
@function all-inputs($list) {
	$arr:();
	@each $item in $list {
		$arr:append($arr, #{$item}, comma);
	}
	@return $arr;
}
@mixin appearance($value) {
	-webkit-appearance: $value;
   -moz-appearance: $value;
   appearance: $value;
}
//NOTE: FLEXBOX
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}
@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
     -moz-flex-basis: $width;
      -ms-flex-basis: $width;
          flex-basis: $width;
}
@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
     -moz-flex-shrink: $shrink;
      -ms-flex-shrink: $shrink;
          flex-shrink: $shrink;
}
@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
     -moz-flex-grow: $grow;
      -ms-flex-grow: $grow;
          flex-grow: $grow;
}
@mixin align-self($align) {
  -webkit-align-self: $align;
     -moz-align-self: $align;
      -ms-align-self: $align;
          align-self: $align;
}