html,body{width:100%;min-width:320px;height:100%;min-height:100%;margin:0;padding:0;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;}
img::-moz-selection{background:transparent;}
img::selection{background:transparent;}
a,a:hover,a:focus{text-decoration:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
mark{background:transparent;}
blockquote,dl,figure,hr,menu,ol,p,pre,summary,table,ul{margin:0;padding:0;}
ul,ol{list-style:none;}
h1,h2,h3,h4,h5,h6,p{margin:0;padding:0;font-weight:normal;}
img{display:block;max-width:100%;height:auto;border:0;}
button,input,select,textarea{margin:0;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input,textarea{border-radius:0;-webkit-appearance:none;}
button,select{text-transform:none;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
fieldset,legend{margin:0;padding:0;border:0;}
input[type="checkbox"],input[type="image"],input[type="radio"]{display:inline-block;*display:inline;*zoom:1;width:auto;cursor:pointer;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
textarea{resize:none;}
table{border-spacing:0;border-collapse:collapse;empty-cells:show;}
*{outline:none;}