@import 'reset';
@import 'mixins';
@import 'fonts';

//NOTE: VARIABLES
$Poppins:poppinsregular, Arial, sans-serif;
$PoppinsB:poppinsbold, Arial, sans-serif;
$PoppinsL:poppinslight, Arial, sans-serif;
$PoppinsM:poppinsmedium, Arial, sans-serif;
$PoppinsSB:poppinssemibold, Arial, sans-serif;

$default:#27292d;
$accent:#e2be73;
$light:#b6b6b6;
$page:#fff1d1;

//NOTE: GENERAL
* {
	@include box-sizing(border-box);
}
%underscore {
	content:'';
	position:absolute;
	left:0;
	top:100%;
	width:110px;
	height:4px;
	background:$accent;
}
body {
	font-family:$Poppins;
	color:$default;
	background:$default url('../images/bg.jpg') top no-repeat;
	overflow-x:hidden;
	.popup-overlay {
		display:none;
	}
	&.login-popup {
		.popup-overlay {
			display:block;
			position:fixed;
			left:0;
			top:0;
			width:100%;
			height:100%;
			background:rgba(0,0,0,.6);
			z-index:3;
			vertical-align:middle;
			text-align:center;
			transition:all .4s ease;
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 1px;
				height: 100%;
			}
			.popup {
				position:static;
				display:inline-block;
				max-width:500px;
				width:100%;
				height:auto;
				margin:auto;
				vertical-align:middle;
				.popup-title {
					position:relative;
					padding:10px;
					background:$default;
					.popup-close {
						position:absolute;
						top:0;
						bottom:0;
						right:10px;
						width:20px;
						height:20px;
						margin:auto;
						color:#e2be73;
						font-size:14px;
						line-height:16px;
						transition:all .4s ease-in-out;
						&:hover {
							transform:rotate(180deg);
						}
					}
					h2 {
						color:#fff;
					}
				}
				.popup-container {
					padding:20px 50px;
					background:#fff;
					.button {
						max-width:100%;
					}
				}
			}
		}
	}
}
.go-top {
	display: none;
	position:fixed;
	right: 50px;
	bottom:50px;
	width: 50px;
	height: 50px;
	border:2px solid $accent;
	z-index:5;
	&:after {
		content:'';
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin:auto;
		width:7px;
		height:11px;
		background:url('../images/caret.png') center no-repeat;
		@include transform(rotate(-90deg));
	}
}
main {
	position:relative;
	height:100%;
}
section {
	height:100%;
}
p {
	margin:20px 0;
	line-height:20px;
}
article {
	h2 {
		padding:45px 0 20px;
		border-bottom:3px solid #d4c9b1;
		font-family:$PoppinsL;
		font-size:30px;
		text-transform:uppercase;
		text-align:center;
		span {
			font-family:$PoppinsB;
		}
	}
	h3 {
		position:relative;
		padding-bottom:10px;
		font-family:$PoppinsL;
		font-size:30px;
		text-transform:uppercase;

		&:after {
			@extend %underscore;
		}
		span {
			font-family:$PoppinsB;
			color:$accent;
		}
	}
	h4 {
		font-family:$PoppinsB;
		font-size:30px;
		color:$accent;
		line-height:40px;
	}
	h5 {
		font-size:20px;
		text-transform:uppercase;
		span {
			font-family:$PoppinsB;
			
		}
	}
}
a {
	font-family:$PoppinsM;
	font-size:12px;
	color:$accent;
}
.container {
	max-width:1040px;
	margin:auto;
}
.header-content {
	max-width:1360px;
	margin:auto;
}
.panel {
	position: absolute;
	top:0;
	margin-left:-252%;
	min-width: 100%;
	background: #000;
	transition:.4s ease-in-out;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
	z-index: 2;
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
	.container {
		padding:120px 10px 50px;
	}

	h1 {
		position:relative;
		padding-bottom:20px;
		font-family:$PoppinsL;
		font-size:32px;
		text-transform:uppercase;
		&:after {
			@extend %underscore;
		}
		span {
			font-family:$PoppinsB;
		}
	}
}
.panel:target{
	margin-left: 0%;
	background-color:$page;
}
.button {
	max-width:237px;
	border:1px solid $accent;
	text-align:center;
	cursor:pointer;
	@include border-radius(10px);
	a {
		display:block;
		padding:20px 30px; 
	}
	input {
		padding:10px;
		border:0;
		background:transparent;
		color:$accent;
		font-family:$PoppinsSB;
		cursor:pointer;
	}
	&.inline-button {
		display:inline-block;
		max-width:133px;
		width:100%;
		a {
			padding:10px 20px;
		}
	}
}
.amp {
	display:block;
}
.upp {
	text-transform:uppercase;
}
.acc {
	margin:20px 0 0;
	font-family:$PoppinsB;
	color:$accent;
}
.desktop {
	display:block;
}
.mobile {
	display:none;
}
//NOTE: HEADER
header {
	padding:34px 0;
	background-color:transparent;
	border-bottom:4px solid $accent;
	section {
		@include flexbox();
		@include flex-direction(row);
		@include flex-wrap(nowrap);
		@include justify-content(space-between);
	}
}
.logo, .menu-wrapper, .login {
	@include flex-basis(33%);
	@include align-self(center);
	text-align:center;
}
.login .button {
	max-width:130px;
	float:right;
	a {
		padding:10px 30px;
	}
}
nav {
	ul {
		li {
			display:inline-block;
			padding:0 30px;
			a {
				text-transform:uppercase;
			}
		}
	}
}
//NOTE: FOOTER
footer {
	position:relative;
	padding:100px 0;
	border-top:4px solid $accent;
	background:url('../images/footer-image.png') center no-repeat $default;
	color:$light;
	text-align:center;
	section {
		span {
			display:inline-block;
			text-transform:uppercase;
		}
	}
}
//NOTE: HOMEPAGE
#home {
	text-align:center;
	.title-container {
		vertical-align:middle;
		height:50%;
		&:before {
			content:'';
			display:inline-block;
			height:100%;
			vertical-align:middle;
		}
		
	}
	.main-title {
		display:inline-block;
		max-width:600px;
		margin:auto;
		vertical-align:middle;
		font-family:$PoppinsL;
		text-transform:uppercase;
		line-height:25px;
		h1 {
			position:relative;
			color:$accent;
			font-size:24px;
			&:before,
			&:after {
				content:'';
				position:absolute;
				width:16px;
				height:15px;
				background:url('../images/quote.png') center no-repeat;

			}
			&:before {
				left:-15px;
				top:0;
			}
			&:after {
				right:-20px;
				bottom:5px;
				transform:rotate(180deg);
			}
		}
		p {
			text-align:right;
			color:#ffffcc;
			font-family:$PoppinsM;
			font-size:14px;
			letter-spacing:1px;
			span {
				padding-right:45px;
			}
		}
	}
	.button {
		margin:auto;
		text-transform:uppercase;
		span:after {
			content:'';
			width:7px;
			height:11px;
			display:inline-block;
			margin-left:10px;
			background:url('../images/caret.png') center no-repeat;
		}
	}

}

//NOTE: TEAM
#team {
	.team-member {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding:60px 0;
		border-bottom:3px solid #d4c9b1;
	}
	.about {
		padding: 42px 0 0 20px;
		h3 span:after {
			content:'\2022';
			margin: 0 20px;
			color:$default;
		}
	}
	.image {
		position:relative;
		flex-grow: 0;
		flex-basis: 16.75em;
		flex-shrink: 0;
		width:268px;
		height:330px;
		background-image:url(../images/team.png);
    	background-repeat:no-repeat;
		&:after {
			content:'';
			position:absolute;
			right:0;
			bottom:0;
			width:4px;
			height:278px;
			background:$accent;
		}
		&.ro-1 {
    		background-position:-283px -345px;
		}
		&.ro-2 {
    		background-position:-561px -5px;
		}
		&.ro-3 {
    		background-position:-553px -345px;
		}
		&.ng-1 {
    		background-position:-282px -5px;
		}
		&.ng-2 {
    		background-position:-5px -345px;
		}
		&.az-1 {
    		background-position:-5px -5px;
		}
	}
}
//NOTE: SERVICES
#services {
	.container {
		max-width:1920px;
		padding:0;
	}
	article {
		@include flexbox();
		@include flex-direction(row);
		@include justify-content(space-between);
		.image, .description {
			@include flex-grow(0);
			@include flex-basis(50%);
			@include flex-shrink(0);
		}
		.image {
			position:relative;
			max-width:960px;
    		height:928px;
			h3 {
				position:absolute;
				color:#fff;
				&:after {
					right:0;
					margin:auto;
				}
				span {
					color:#fff;
				}
			}
			&.serv-1 {
				background:url('../images/serv-1.png') top center no-repeat;
				h3 {
					top:calc(100% - 100px);
					right:100px;
				}
			}
			&.serv-2 {
				background:url('../images/serv-2.png') top center no-repeat;
				h3 {
					top:60px;
					left:70px;
				}
			}
			&.serv-3 {
				background:url('../images/serv-3.jpg') top center no-repeat;
				h3 {
					top:calc(100% - 100px);
					right:0;
					left:0;
					margin:auto;
					text-align:center;
				}
			}
		}
		.description {
			padding:120px;
			p {
				span {
					font-family:$PoppinsB;
				}
			}
			ul {
				position:relative;
				margin:20px auto 40px;
				padding:30px;
				background-color:$default;
				&:after {
					content:'';
					position:absolute;
					top:-35px;
					right:-66px;
					width:66px;
					height:55px;
					background:url('../images/services.png');
					background-position:-5px -5px;
					background-repeat: no-repeat;
				}
				li {
					position:relative;
					padding:15px 0;
					font-family:$PoppinsM;
					font-size:16px;
					color:#fff;
					line-height:19px;
					&:before {
						content:'+';
						position:absolute;
						font-family:$PoppinsL;
						font-size:30px;
						color:$accent;
					}
					span {
						display: inline-block;
						padding-left:30px;
					}
				}
			}
			.left, .right {
				display:inline-block;
				width:50%;
				.acc {
					text-transform:uppercase;
				}
				.upp {
					margin:0;
				}
				
			}
			.left {
				padding-right:35px;
			}
			.right {
				padding-left:35px;
			}
		}
		&.serv-1-wrapper {
			.description {
				.left, .right {
					margin-top:70px;
				}
				.left {
					border-right:2px solid #333333;
				}
			}
			h5 {
				span {
					position:relative;
					&:after {
						width:100%;
						@extend %underscore;
					}
				}
			}
		}
		&.serv-3-wrapper {
			.description ul {
				margin-bottom:80px;
				&:after {
					top:initial;
					bottom:-35px;
					right:initial;
					left:-66px;
					@include transform(rotate(180deg));
				}
			}
			h4 {
				margin-top:70px;
			}
			h5 {
				position:relative;
				text-align:center;
				&:after {
					@extend %underscore;
					right:0;
					margin:20px auto 0;
				}
			}
		}
	}
}
//NOTE: CONTACT
#contact {
	&.panel:target {
		background:#f7f7f7;
	}
}
//NOTE: FORM STYLES
.form-wrapper {
	padding-top:120px;
	.row {
		@include flexbox();
		@include flex-direction(row);
		border-bottom:1px solid $light;
		margin-bottom:30px;
		padding-bottom:10px;
		.left {
			@include flex-basis(60%);
		}
		.right {
			@include flex-basis(40%);
			padding-left:20px;
		}
	}
	.button {
		border-width:2px;
		input {
			padding:15px;
			font-size:16px;
		}
	}
}
.form-element {
	position: relative;
	display: inline-block;
	width:100%;
	height:45px;
	margin-bottom:20px;
	border:2px solid $light;
	@include border-radius(10px);
	input, select, textarea {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding-left:20px;
		background:#f7f7f7;
		border:0;
		font-family:$Poppins;
		@include border-radius(10px);
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		font-family:$PoppinsSB;
	  color:$light;
	}
	::-moz-placeholder { /* Firefox 19+ */
		font-family:$PoppinsSB;
	  color:$light;
	}
	:-ms-input-placeholder { /* IE 10+ */
		font-family:$PoppinsSB;
	  color:$light;
	}
	:-moz-placeholder { /* Firefox 18- */
		font-family:$PoppinsSB;
	  color:$light;
	}
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		option {
			padding:10px;
			border-right:1px solid $light;
		}
	}
	textarea {
		padding:20px;
	}
	&.prefix,
	&.name,
	&.phone,
	&.date {
		display:inline-block;
	}
	&.prefix,
	&.date {
		position:relative;
		&:after {
			content:'';
			position:absolute;
			top:100%;
			left:0;
			right:0;
			margin:auto;
			width:0; 
			height:0; 
			border-left:5px solid transparent; 
			border-right:5px solid transparent; 
			border-top:7px solid $light;
		}
	}
	&.prefix {
		width: calc(25% - 15px);
		margin-right:10px;
	}
	&.name {
		width:75%;
	}
	&.phone {
		width:calc(55% - 15px);
		margin-right:10px;
	}
	&.date {
		width:45%;
	}
	&.message {
		height:calc(100% - 25px);
	}
}
//NOTE: MEDIA QUERIES
@media all and (max-width:1626px) {
	#services article {
		.image {
			height:auto;
		}
		.description {
			padding:20px 50px;
		}
	}
}
@media all and (max-width:1280px) {
	article {
		h3 {
			font-size:20px;
		}
		h4 {
			font-size:26px;
		}
		h5 {
			font-size:18px;
		}
	}
}
@media all and (max-width:1024px) {
	.hide-n {
		display:block;
	}
	.go-top {
		right: 20px;
		bottom: 20px;
	}
	article {
		h3 {
			font-size:20px;
		}
	}
	p {
		font-size:14px;
	}
	.header-content, .container {
		max-width: 768px;
		padding:0 20px;
	}
	.panel .container {
		padding:50px 20px;
	}
	.logo {
		@include flex-basis(25%);
	}
	.menu-wrapper {
		@include flex-basis(70%);
	}
	.login {
		@include flex-basis(5%);
	}
	footer {
		max-height:200px;
	}
	#team .team-member {
		padding:30px 0;
	}
	#services article {
		@include flex-direction(column);
		.image, .description {
			@include flex-basis(auto);
			@include flex-shrink(1);
			@include flex-grow(0);
		}
		.image {
			&.serv-1,
			&.serv-2,
			&.serv-3 {
				max-width: 100%;
				height:250px;
				background-position:top 30% center;
				background-size: cover;
				h3 {
					top: calc(100% - 100px);
					right: 0;
					left: 0;
					text-align: center;
				}
				
			}
		}
		.description {
			max-width: 768px;
			margin: auto;
			padding:20px;
			ul:after {
				display:none;
			}
		}
		&.serv-2-wrapper {
			@include flex-direction(column-reverse);
		}
		&.serv-3-wrapper {
			.image {
				background-position:top 60% center;
			}
		}
	}
}
@media all and (max-width:767px) {
	.desktop {
		display:none;
	}
	.mobile {
		display:block;
	}
	.go-top {
		right: 10px;
		bottom: 10px;
	}
	.panel h1 {
		padding:0;
		font-size:30px;
		text-align:center;
		&:after {
			display:none;
		}
	}
	article {
		h2 {
			padding: 40px 0 10px;
			font-size:18px;
		}
		h3 {
			font-size: 16px;
		}
		h5 {
			font-size:16px;
		}
	}
	.header-content, .container {
		max-width:320px;
		padding:0 10px;
	}
	.logo {
		@include flex-basis(auto);
		img {
			max-width:150px;
		}
	}
	.mobile-menu-trigger {
		position: relative;
		width: 60px;
		height: 50px;
		padding:16px 15px;
		vertical-align: middle;
		cursor:pointer;
		span {
			display:block;
			width:100%;
			height:3px;
			margin:6px 0;
			background:$accent;
			&:before, &:after {
				content:'';
				position:absolute;
				width:30px;
				height:3px;
				background:$accent;
				@include transition(all .2s ease);
			}
			&:before {
				top:15px;
			}
			&:after {
				bottom:18px;
			}
		}
		&.active {
			span {
				background:transparent;
				&:before, &:after {
					transform-origin:25px;
					@include transform(rotate(45deg));
				}
				&:before {
					@include transform(rotate(-45deg));
				}
			}
		}
	}
	body.login-popup .popup-overlay .popup {
		max-width:300px;
		.popup-container {
			padding:20px;
		}
	}
	header {
		padding:15px 0;
	}
	nav.mobile-menu-wrapper {
		position:absolute;
		width:100%;
		padding:30px 0;
		background:#2b2e33;
		text-align:center;
		transition: transform .4s ease;
		z-index:3;
		@include transform(translateX(100%));
		&.active {
			@include transform(translateX(0));
		}
		ul li {
			display:block;
			padding:30px 0;
			a {
				font-size:24px;
			}
		}
	}
	.login {
		padding:40px 0;
		@include flex-basis(auto);
		.button {
			float:none;
			margin:auto;
		}
	}
	.panel .container {
		padding:50px 15px;
	}
	#home {
		.title-container {
			height:auto;
			padding-top:70px;
		}
		.main-title h1 {
			max-width:280px;
			font-size:18px;
			&:after {
				right:0;
			}
			div {
				display:inline;
			}
		}
		
	}
	#team {
		.team-member {
			@include flex-direction(column);
		}
		.person {
			@include flexbox();
			@include flex-direction(row);
			h3 {
				padding:0 0 0 10px;
				@include align-self(flex-end);
				font-size:12px;
				line-height:18px;
				&:after {
					display:none;
				}
				span {
					display:block;
					font-size:16px;
					&:after {
						display:none;
					}
				}
			}	
		}
		.image {
			width: 82px;
   	 		height: 92px;
			background-image: url(../images/team-mob.png);
			@include flex-basis(5.125em);
			&:after {
				width:2px;
				height:80px;
			}
			&.ro-1 {
				background-position: -281px -5px;
			}
			&.ro-2 {
				background-position: -373px -5px;
			}
			&.ro-3 {
				background-position: -465px -5px;
			}
			&.ng-1 {
				background-position: -97px -5px;
			}
			&.ng-2 {
				background-position: -189px -5px;
			}
			&.az-1 {
				background-position: -5px -5px;
			}
		}
		.about {
			padding:0;
		}
	}
	#services {
		
		article {
			h3 {
				font-size:18px;
			}
			&.serv-1-wrapper .description .left, 
			&.serv-1-wrapper .description .right {
				margin-top:20px;
				vertical-align:top;
			}
			&.serv-1-wrapper .description .left {
				padding-right:0;
			}
			&.serv-1-wrapper .description .right {
				padding-left:10px;
			}
			&.serv-3-wrapper .description ul {
				margin-bottom:20px;
			}
			.image {
				&.serv-1,
				&.serv-2,
				&.serv-3 {
					height:180px;
					background-position: top 50% center;
				}
			}

		}
	}
	#contact {
		h1 {
			font-size:18px;
			text-align:center;
			&:after {
				display:none;
			}
		}
		.form-wrapper {
			padding-top:20px;
			.row {
				border:0;
				margin-bottom:0;
				padding-bottom:0;
				@include flex-direction(column);
				.right {
					padding:0;
				}
			}
			.button {
				max-width:140px;
				margin:auto;
			}
		}
		.form-element {
			
			&.phone, &.date {
				width:100%;
			}
			&.date {
				margin-left:0;
			}
			input, select, textarea {
				position:relative;
				padding-left:10px;
			}
			textarea {
				
			}
		}
	}
}
@import 'datetimepicker';