<h1>Request an <span>appointment</span></h1>
<div class="form-wrapper">
	<form action="">
		<div class="row">
			<div class="left">
				<div class="form-element prefix" >
					<select name="" id="prefix">
						<option value="0" disabled selected="selected">Prefix</option>
						<option value="Mrs">Mrs</option>
						<option value="Ms">Ms</option>
						<option value="Mr">Mr</option>
					</select>
				</div>
				<div class="form-element name" >
					<input id="name" type="text" placeholder="Name & Surname" required/>
				</div>
				<div class="form-element email">
					<input id="email" type="email" placeholder="Email Address" required/>
				</div>
				<div class="form-element phone">
					<input id="phone" type="tel" placeholder="Phone Number" required/>
				</div>
				<div class="form-element date">
					<input type="text" id="datepicker" placeholder="Preferred time for a call" />
				</div>
			</div>
			<div class="right">
				<div class="form-element message">
					<textarea name="" id="message" cols="30" rows="10" placeholder="Message..."></textarea>
				</div>
			</div>
		</div>
		<div class="submit button">
			<input class="doSubmit" value="Submit" type="submit">
		</div>
	</form>
</div>