<footer>
	<section class="container">
		<span>All Rights Reserved <div>2017 © Preevale Ltd</div></span>
	</section>
	<a href="javascript:void(0)" class="go-top"></a>
</footer>
<div class="popup-overlay">
	<div class="popup">
		<div class="popup-title">
			<h2 class="upp">Login</h2>
			<span id="popup-close" class="button popup-close">x</span>
		</div>
		<div class="popup-container">
			<form method="post" id="login-form">
				<div class="form-element email">
					<input id="login_name" type="email" placeholder="Email Address"/>
				</div>
				<div class="form-element password">
					<input id="password" type="password" placeholder="Password"/>
				</div>
				<div class="submit button">
					<input class="doSubmit" value="Login" type="submit">
				</div>
			</form>
		</div>
	</div>
</div>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../js/timepicker.js"></script>
<script src="../js/main.js"></script>