<div class="title-container">
	<div class="main-title">
		<h1>
			The way to gain a good reputation is to
			<div>endeavour to be what you desire to appear</div>
		</h1>
		<p><span>- Socrates -</span></p>
	</div>
</div>
<div class="button nav-item">
	<a href="#services" data-target="services"><span>Discover</span></a>
</div>