<h1>Meet <span>our team</span></h1>
<article>
	<h2><span>Romania</span>Office</h2>
	<div class="team-member">
		<div class="desktop image ro-1 "></div>
		<div class="person mobile">
			<div class="image ro-1"></div>
			<h3><span>Artem Trofymenko</span>&bull; Technology</h3>
		</div>
		<div class="about">
			<h3 class="desktop"><span>Artem Trofymenko</span>Technology</h3>
			<p>Artem holds LLM degree in International Business Law from University College London. Artem is one of 17 Ukrainian grantees of WorldWideStudies Foundation for future leaders in 2010.</p>
			<p>Has over 10 years of professional experience ranging from International Trade to Financial Technology.</p>
			<p>Artem was a founder and CEO of the biggest online brokerage house in Africa based in Lagos Nigeria - Rally Trade.</p>
			<p>Artem is an active Member of the Board of Human Catalyst, Romania’s leading NGO devoted to supporting children from deprived backgrounds. Passionate about Japanese culture and martial arts. </p>
		</div>
	</div>
	<div class="team-member">
		<div class="desktop image ro-2"></div>
		<div class="person mobile">
			<div class="image ro-2"></div>
			<h3><span>Andreea Manea</span>&bull; Marketing</h3>
		</div>
		<div class="about">
			<h3 class="desktop"><span>Andreea Manea</span>Marketing</h3>
			<p>Having graduated Communication and Public Relations in 2011, Andreea turned her professional attention to PR &amp; Marketing.</p>
			<p>From over 10 years of professional experience, more than 6 were dedicated to the Online Marketing environment. Occupying positions such as Marketing Manager and Digital Marketing Project Manager in corporate companies activating the financial markets, Andreea has gained an in-depth understanding of the investor's online behavior and interests.</p>
			<p>Andreea is an active member of the civil society and has participated in several projects that concerned the community's welfare. She is also passionate about the beauty of the mind in all its forms: from great characters, to neuroscience and, given her two beagles, even canine psychology.</p>
		</div>
	</div>
	<div class="team-member">
		<div class="desktop image ro-3"></div>
		<div class="person mobile">
			<div class="image ro-3"></div>
			<h3><span>Claudiu Ungureanu</span>&bull; Design</h3>
		</div>
		<div class="about">
			<h3 class="desktop"><span>Claudiu Ungureanu</span>Design</h3>
			<p>Claudiu has over 16 years of Graphic Design experience with 350+ finished projects all over the world.</p>
			<p>His particular strengths are in Logotypes &amp; Brand creation.</p>
			<p>Passionate about music production and extreme sports.</p>
		</div>
	</div>
</article>
<article>
	<h2><span>Nigeria</span>Office</h2>
	<div class="team-member">
		<div class="desktop image ng-1"></div>
		<div class="person mobile">
			<div class="image ng-1"></div>
			<h3><span>Valentine Ohu</span>&bull; Media</h3>
		</div>
		<div class="about">
			<h3 class="desktop"><span>Valentine Ohu</span>Media</h3>
			<p>Graduated from the University of Port Harcourt with double honors in Mathematics and Computer Science. Went on to study Broadcast Journalism at the New York Film Academy. Earned professional certifications in “Conflict Reporting” from the BBC, and Documentary production New Media. </p>
			<p>Spent twelve years on radio as an ace broadcaster and producer on Morning, Afternoon and late night radio. Served as media coordinator with the Rivers State government, Nigeria, in 2013 in the “Wipe out Ebola” programme.</p>
			<p>And currently runs a private media planning agency, alongside being host of a daily Breakfast show in Lagos, Nigeria. Has love for the martial arts, sky-diving, and foreign languages.</p>
		</div>
	</div>
	<div class="team-member">
		<div class="desktop image ng-2"></div>
		<div class="person mobile">
			<div class="image ng-2"></div>
			<h3><span>Anthony Ehiguese</span>&bull; PR</h3>
		</div>
		<div class="about">
			<h3 class="desktop"><span>Anthony Ehiguese</span>PR</h3>
			<p>Anthony is a computer science graduate from Covenant University, Nigeria. Anthony furthered his education in Digital Media at the Pan Atlantic University where he was able to gather communication skills and learn Public Relation strategies in building and sustaining reputation for brands and high-profile individuals.</p>
			<p>His passion for public relations, his work experience with one of the best Public Relations firms in the country and his huge influence in the media industry strategically elevated him in the corporate world, holding sensitive positions and excelling in them. Anthony was particularly vital in building and maintaining the reputation of well established brands in Nigeria with impressive results. </p>
			<p>On the side, Anthony is actively involved in the world of Psychology and Data Analytics as this helps him to understand the concept of human behaviour and emotional intelligence.</p>
		</div>
	</div>
</article>
<article>
	<h2><span>Azerbaijan</span>Office</h2>
	<div class="team-member">
		<div class="desktop image az-1"></div>
		<div class="person mobile">
			<div class="image az-1"></div>
			<h3><span>Sabina Mammadli</span>&bull; Government Relations</h3>
		</div>
		<div class="about">
			<h3 class="desktop"><span>Sabina Mammadli</span>Government Relations</h3>
			<p>Sabina has considerable experience in the Telecom Sector both in Head of Department and CEO positions of more than 18 years in ICT. Has professional experience in the Government Relations and is an effective communicator with Government Structures.</p>
			<p>Sabina is one of the Founders of the Women's Club "Femmes Digitales" in the Sector of Telecommunications. She is also in the Board of Directors of the Caspian European Business Club in Azerbaijan, Kazakhstan and Georgia.</p>
			<p>Passionate about equestrian disciplines. </p>
		</div>
	</div>
</article>